<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI即时翻译助手</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1>AI即时翻译助手</h1>
<form action="/translate_text" method="post" enctype="multipart/form-data">
    <div class="switcher">
        想直接翻译整个文档？试试<a href="/doc">AI文档翻译助手</a>
    </div>

    <label for="src">源语言:</label>
    <select id="src" name="src" required>
        <option value="English" selected>英语</option>
        <option value="Spanish">西班牙语</option>
        <option value="French">法语</option>
        <option value="Mandarin Chinese">普通话</option>
        <option value="Hindi">印地语</option>
        <option value="Arabic">阿拉伯语</option>
        <option value="Bengali">孟加拉语</option>
        <option value="Russian">俄语</option>
        <option value="Portuguese">葡萄牙语</option>
        <option value="Urdu">乌尔都语</option>
        <option value="Japanese">日语</option>
    </select><br>

    <label for="target">目标语言:</label>
    <select id="target" name="target" required>
        <option value="English">英语</option>
        <option value="Spanish">西班牙语</option>
        <option value="French">法语</option>
        <option value="Mandarin Chinese" selected>中文</option>
        <option value="Hindi">印地语</option>
        <option value="Arabic">阿拉伯语</option>
        <option value="Bengali">孟加拉语</option>
        <option value="Russian">俄语</option>
        <option value="Portuguese">葡萄牙语</option>
        <option value="Urdu">乌尔都语</option>
        <option value="Japanese">日语</option>
    </select><br>

    <label for="style">风格:</label>
    <select id="style" name="style" required>
        <option value="formal">优雅、高大上</option>
        <option value="normal">普通</option>
        <option value="relaxed">轻松、说人话</option>
    </select><br>

    <label for="model">大模型</label>
    <select id="model" name="model" required>
        <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
    </select><br>

    <label for="text_content">请输入要翻译的内容:</label>
    <textarea id="text_content" name="text_content" rows="4"
              cols="50" required>{% if original %}{{ original }}{% endif %}</textarea><br>

    {% if err %}
    <h2 class="error">发生错误:</h2>
    <div class="error">
        <p><strong>错误详情:</strong> {{ err }}</p>
    </div>
    {% endif %}

    {% if translated %}
    <h2 class="result">翻译结果:</h2>
    <div>
        <p><strong>原文:</strong> {{ original }}</p>
        <p><strong>译文:</strong> {{ translated }}</p>
    </div>
    {% endif %}

    <button type="submit">Submit</button>
</form>
</body>
</html>
